.menu {
    background-color: var(--fondo-menu);
    color: var(--blanco);
    width: 490px;
    margin: 10px auto;
    text-align: var(--centro);
}

.opcion__menu {
    display: var(--bloque_enlinea);
    margin-right: 0;
}

.enlace__menu {
    text-decoration: var(--none);
    padding: 20px;
    display: var(--bloque);
    color: var(--blanco);
}

/*------------------------------------------------------*/

.menu_modifier_1 {
    background-color: var(--fondo-verdementa2);
}

.enlace__menu--modifier-1 {
    font-size: 16px;
}

.enlace__menu--modifier-1:hover {
    font-weight: var(--negrilla);
    text-decoration: underline;
}


/*--------------------------------------------------------*/
.menu_modifier_2 {
    background-color: var(--fondo-beige);
}

.enlace__menu--modifier-2{
    color: var(--negro);
}

.enlace__menu--modifier-2:hover, .opcion__menu--modifier-2:hover {
    font-weight: var(--negrilla);
    color: var(--blanco);
    background-color: var(--negro);
    filter: drop-shadow(0 0 3px var(--negro));
}


/*--------------------------------------------------------*/

.menu_modifier_3 {
    background-color: var(--fondo-marron1);
    border-radius: 10px;
}

.enlace__menu--modifier-3:hover, .opcion__menu--modifier-3:hover {
    font-weight: var(--negrilla);
    background-color: var(--fondo-marron2);
    filter: drop-shadow(0 0 3px var(--negro));
    border-radius: 10px;
    transition: 0.5s;
}


/*-------------------------------------------------------*/
.menu_modifier_4 {
    background-color: var(--fondo-gris1);
    border-radius: 10px;
}

.enlace__menu--modifier-4 {
    color: var(--blanco);
}

.opcion__menu--modifier-4:first-of-type {
    background-color: var(--fondo-mostaza);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    filter: drop-shadow(0 0 2px var(--negro));
}

.opcion__menu--modifier-4:hover:not(:first-of-type) {
    background-color: var(--fondo-gris2);
    color: var(--blanco);
    filter: drop-shadow(0 0 2px var(--negro));
}

.opcion__menu--modifier-4:hover:last-of-type {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}