.post__principal{
    display: var(--bloque);
    margin: 20px auto;
    width: 400px;
    height: 200px;
    padding: 20px;
    background-color: var(--negro);
    border-radius: 20px;
}

.contenedor__contenido {
    display: var(--bloque_enlinea);
    text-align: var(--derecha);
    width: 65%;
    padding: 10px;
}


.img__post {
    width: 33%;
    display: var(--bloque_enlinea);
    border-radius: 30px;
}

.parrafo__post{
    font-size: 14px;
    margin-bottom: 40px;
    color: var(--blanco);
}

.creditos__post {
    font-size: 12px;
    color: var(--blanco);
}

/*------------------------------------------*/

.post__principal.modifier--1:hover, .img__post.img--modifier--1{
    background-color: var(--fondo1_comp1);
    box-shadow: 0 0 10px var(--negro);
    transition: var(--duracion_05);
}


/*-------------------------------------------*/

.post__principal.modifier--2 {
    background-color: var(--fondo2_comp1);
    border: 2px solid var(--negro);
}

.img__post.img--modifier--2 {
    box-shadow: 0 0 5px var(--negro);
}

.contenedor__contenido.contenido--modifier--2 {
    filter: drop-shadow(1px 1px 2px var(--negro));
}

/*-------------------------------------------*/
.post__principal.modifier--3 {
    box-shadow: 0 0 5px var(--negro);
}

.post__principal.modifier--3:hover{
    width: 410px;
    height: 210px;
    transition: var(--duracion_05);
    font-size: 26px;
    font-weight: var(--negrilla);
}

.img__post.img--modifier--3 {
    box-shadow: 0 0 5px var(--blanco);
}

/*--------------------------------------------*/

.img__post.img--modifier--4 {
    border-radius: 50%;
    box-shadow: 0 3px 5px var(--blanco);
}

.contenedor__contenido.contenido--modifier--4:hover {
    filter: drop-shadow(0 0 1px var(--blanco));
    transition: var(--duracion_1);
}