.bloque__acordeon {
    width: 600px;
    margin: 30px auto;
    border: 1px solid var(--fondo_gris);
}

.titulo__acordeon {
    padding: 10px;
    border: 1px solid var(--fondo_gris);
    cursor: pointer;
}

.contenido__acordeon {
    padding: 5px 10px;
    background-color: var(--fondo_gris2);
}


/*--------------------------------------------*/

.bloque__acordeon--modifier-1 {
    width: 400px;
}

.titulo__acordeon--modifier-1:hover {
    background-color: var(--fondo_modifier1);
    box-shadow: 0 0 5px var(--sombra_modifier1);
    transition: var(--duracion_05);
}

/*---------------------------------------------*/


.bloque__acordeon--modifier-2 {
    background-color: var(--fondo_beige3);
    border-color: var(--marron1);
}

.titulo__acordeon--modifier-2 {
    border-color: var(--marron2);
}

.contenido__acordeon--modifier-2 {
    background-color: var(--marron2);
}

/*-----------------------------------------------*/

.bloque__acordeon--modifier-3 {
    background-color: var(--fondo_verde1);
}

.bloque__acordeon--modifier-3:hover {
    box-shadow: 0 0 5px var(--negro);
    transition: var(--duracion_05);
}

.titulo__acordeon--modifier-3:hover {
    background-color: var(--fondo_verde2);
    color: var(--blanco);
    font-weight: var(--negrilla);
    transition: var(--duracion_05);
}

.contenido__acordeon--modifier-3 {
    background-color: var(--fondo_beige4);
    text-align: justify;
}

/*-----------------------------------------------------*/

.bloque__acordeon--modifier-4 {
    background-color: var(--fondo-amarillo1);
}

.bloque__acordeon--modifier-4:hover {
    box-shadow: 0 0 5px var(--negro);
    transition: var(--duracion_05);
}

.titulo__acordeon--modifier-4 {
    font-weight: var(--negrilla);
}

.titulo__acordeon--modifier-4:hover {
    background-color: var(--fondo-amarillo2);
    filter: drop-shadow(0 0 5px var(--negro));
    color: var(--blanco);
    transition: var(--duracion_05);
}

.contenido__acordeon--modifier-4 {
    background-color: var(--fondo-amarillo3);
    text-align: var(--centro);
}

.tira__acordeon--modifier-4[open] .titulo__acordeon--modifier-4 {
    background-color: var(--fondo-amarillo2);
    filter: drop-shadow(0 0 5px var(--negro));
    color: var(--blanco);
}