.link_component {
    width: 400px;
    height: 50px;
    line-height: 50px;
    display: var(--bloque);
    margin: 50px auto;
    text-align: var(--centro);
    background-color: var(--fondo_botones);
    text-decoration: var(--none);
    border-radius: 20px;
    color: var(--letra_botones);
    border: 2px solid var(--borde_botones);
    box-shadow: 0px 0px 5px var(--negro);
    font-weight: var(--negrilla);
}

.link_component:hover{
    background-color: var(--hover_botones);
}